@import 'variables';

.navbar{
	background: #fff;
  	width: 100%;
  	border-bottom: 1px solid rgba(0,0,0,0.5);
  	position: relative;
  	height: 50px;

    .logo {
    width: 45px;
    height: 45px;
    background: image-url('money.gif') no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -16px;
  }

  	.nav { 
    float: left;
    list-style: none;

    li{
      float:left;
      height: $navbar-height;

      a{
        height: $navbar-height;
        font-size: 14px;
        line-height: 1;

        &:hover {
            border-bottom: 5px solid $brand-primary;
            color: $brand-primary;
          }
      }

      .link-text{
        float: left;
        margin-top: 18px;
        margin-left: 4px;
      }
        
        .icon{
        float: left;
        font-size: 18px;
        margin-top: 16px;
        color: #000;
      }
    }
  }

  .nav-primary{
    li{
        a{
          padding: 0 15px; 
          color: $search-bg;
        }
    }

}

  .nav-secondary{  
  li{
    a{
      padding: 0 15px;
      color: $search-bg;
      }
    }
  }

}
