$navbar-logo-size: 32px;
$navbar-height: 50px;
$navbar-border-height: 5px;

$brand-primary: #0084b4;
$brand-secondary: #00a3e3;

$search-bg: #A3ACB2;
$search-bg-focus: #66757f;
$search-color: #eee;

$profile-navbar-height: 60px;